body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  background: #ffffff;
  color: #9999ff;
  margin: 3em;
}

strong {
  text-decoration: underline;
}

button {
  background: #9999ff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
button:active {
  background: #9999ff;
}
button:hover{
  color: #3f41a6;
  }

.scoreboard {
  width: 14em;
  margin: auto;
  border: 1px solid #9999ff;
}
.scoreboard h2 {
  color: #3f41a6;
  border-bottom: 1px solid #9999ff;
  margin: 0;
  padding: 10px;
}
.scoreboard table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
}
.scoreboard th, .scoreboard td {
  text-align: center;
}
.scoreboard td {
  color: #3f41a6;
  font-size: 3em;
  padding: 0 20px;
}

#status {
  margin-top: 20px;
}
